html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 85%;
  background: linear-gradient(#4a6741, 	#22311d);
}

h1 {
  text-align: center;
}

#main-content {
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#create-task-form {
  padding: 15px 15px 18px 15px;
}

input {
  margin-bottom: 10px;
  padding: 
}

input[type=submit] {
  float: right;
} 

#list {
  margin: 20px 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  color: #22311d;
}
